{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main>
        <div class="login-container">
            {% csrf_token %}
            <form action="" method="post" >
                <label for="username">username</label>
                <input type="text" name="username" id="username">
                <br>
                <label for="password">password</label>
                <input type="password" name="password" id="password">
                <br>
                <button type="submit">Login</button>
            </form>
            <div class="sign-up-container">
                <h4>Don't have an account ? <a href="">Signup</a></h4>
            </div>
        </div>
    </main>
</body>
</html>