<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
</head>
<body>
    <main>
        <div class="sign-up-container">
            <form action="" method="post">
                <label for="username">username</label>
                <input type="text" name="username" id="username">
                <br>
                <label for="email">email</label>
                <input type="email" name="email" id="email">
                <br>
                <label for="gender">gender</label>
                <input type="radio" name="gender" value="male" id="gender">Male
                <input type="radio" name="gender" value="female" id="gender">Female
                <input type="radio" name="gender" value="others" id="gender">others
                <br>
                <label for="country">country</label>
                <section>
                    <option value="India">India</option>
                    <option value="India">USA</option>
                    <option value="India">UK</option>
                    <option value="India">Eroupe</option>
                    <option value="India">Russia</option>
                    <option value="India">Sri Lanka</option>
                    <option value="India">Japan</option>
                    <option value="India">Canada</option>
                    <option value="India">Australia</option>
                    <option value="India">China</option>
                </section>
                <br>
                <label for="password">password</label>
                <input type="password" name="password" id="password">
                <br>
                <label for="verify-password">verify-password</label>
                <input type="password" name="verify-password" id="password">
                <br>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </main>
</body>
</html>