<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Settings</li>
                <img src="" alt="profile-icon" srcset="" height="24px" width="24px">
            </ul>
        </nav>
    </header>
    <footer>
        &copy;All copyrights reserved 2024 
    </footer>
</body>
</html>