<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <style>
        .post{
            background-color: antiquewhite;
            min-width: 100px;
            max-width: 50vw;
            padding: 20px;
        }
        .subcontents{
            padding-right: 5px;
        }
    </style>
</head>
<body>
    <div class="post 1">
        <span class="subcontents user">
            <img src="" alt="user-profile" height="24px" width="24px">
            Jhon Doe
        </span>
        <div class="content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam saepe corrupti aliquid! Accusantium aliquid ad, cupiditate sed recusandae suscipit accusamus cumque voluptate odio quis eaque quos numquam quidem eveniet minus!
        </div>
        <hr>
        <span class="subcontents like">👍 100</span>
        <span class="subcontents dislike">👎 50</span>
        <span class="subcontents reply">💬 10</span>
    </div>

    <br>

    <div class="post 1">
        <span class="subcontents user">
            <img src="" alt="user-profile" height="24px" width="24px">
            Bob
        </span>
        <div class="content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam saepe corrupti aliquid! Accusantium aliquid ad, cupiditate sed recusandae suscipit accusamus cumque voluptate odio quis eaque quos numquam quidem eveniet minus!
        </div>
        <hr>
        <span class="subcontents like">👍 100</span>
        <span class="subcontents dislike">👎 50</span>
        <span class="subcontents reply">💬 10</span>
    </div>

    <br>

    <div class="post 1">
        <span class="subcontents user">
            <img src="" alt="user-profile" height="24px" width="24px">
            Alice
        </span>
        <div class="content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam saepe corrupti aliquid! Accusantium aliquid ad, cupiditate sed recusandae suscipit accusamus cumque voluptate odio quis eaque quos numquam quidem eveniet minus!
        </div>
        <hr>
        <span class="subcontents like">👍 100</span>
        <span class="subcontents dislike">👎 50</span>
        <span class="subcontents reply">💬 10</span>
    </div>

</body>
</html>