<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <style>
        .container{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            position: absolute;
            left: 30%;
        }
        .info{
            display: grid;
            border: 2px solid black;
            height: 300px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="info">
            <span>Username : Jhon Doe</span>
            <br>
            <span>Profile Photo : <img src="" alt="profile-pic" width="24px" height="24px"></span>
            <br>
            <span>Bio : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut nobis temporibus id, ex placeat nihil odit nemo saepe quia ducimus dolorem maiores aliquam reprehenderit aliquid ipsam amet laudantium ullam veniam.</span>
            <br>
            <span>Email : jhondoe123@gmail.com</span>
            <br>
            <span><button>Reset Password</button></span>
        </div>
    </div>
</body>
</html>